@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

*{
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
body {
    background-image: url("jdm3.jpg");
    background-color: #cccccc;
    height : 1080px;
    width : 1920px;
   }
   td{
    color: white;
    }
    .judul{
        color: white;
        padding: 0;

    }